<!DOCTYPE html>

<!-- 📰 @AnnaShannon2002 @mtrejo03 4.29.2025 iss #3 -->

<html>


<head>
  <title>Newsletter</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/styles/subscribe.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  <div class="container mt-4">
  <div>
    <img src="/img/sobie.png" alt="sobie logo" class="logo">
    <h1 class="headline">Subscribe to our SOBIE Newsletter</h1><br>
    <p>Sign up for news and updates regarding the conference!</p><br>
    <p style="color:red;">Already subscribed.</p><br>
  </div>
  <form class="row g-3 needs-validation" novalidate>
  <div class="col-sm-6 col-md-4 mb-3">
    <label for="validationCustom01" class="form-label">First name</label>
    <input type="text" class="form-control" id="validationCustom01" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-sm-6 col-md-4 mb-3">
    <label for="validationCustom02" class="form-label">Last name</label>
    <input type="text" class="form-control" id="validationCustom02" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-sm-6 col-md-4 mb-3">
    <label for="validationCustomEmail" class="form-label">Email</label>
    <input type="text" class="form-control" id="validationCustomEmail" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <!-- TERMS AND CONDITIONS -->
    <!--
    <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
      <label class="form-check-label" for="invalidCheck">
        Agree to terms and conditions
      </label>
      <div class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
  </div>
  -->
  <div class="col-12">
    <button type ="submit" class="btn btn-primary" id="formSubmit">Subscribe</button>
    <br><br><a href="/subscribe/unsubscribe">unsubscribe</a>
    <br><br><a href="/subscribe/">home page - index</a>
  </div>
</form>
</div>
<!--
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-ui@1.14.1/dist/jquery-ui.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css'></script>
<script src='styles.css'></script>
<script src='javascripts.js'></script>
  -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-ui@1.14.1/dist/jquery-ui.min.js"></script>
  <script src="/scripts/subscribe.js"></script>
  <script src='/styles/subscribe.css'></script>
</body>

</html>
