<!DOCTYPE html>

<!-- 📰 @AnnaShannon2002 @mtrejo03 4.29.2025 iss #3 -->

<html>
<head>
  <title>Subscription Confirmation</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/styles/subscribe.css">
</head>
<body class="container mt-4">
  <img src="/img/confirm.jpg" alt="confetti" class="confirm">
  <h1 class="headline">Thank You for Subscribing!</h1>
  <p>You’re now subscribed to our newsletter! You'll hear from us shortly.</p>
  <p>To unsubscribe
    <a href="/subscribe/unsubscribe">click here</a>.
  </p>
</body>
</html>
