<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <title> Admin Page </title>

<body>
    <h1>
        <h1> Welcome <%=user%> to your Sobie Admin Profile </h1>
    </h1>
    <a href="/registrants" style="color:white"> Access Registrants Page </a>
    <br>
    <br>
    <a href="/app-login/users" style="color:white"> Access Users Page </a>
    <br>
    <br>
    <a href="/app-login/login" style="color:white"> Exit Your Profile</a>
</body>
</head>

</html>
