<!DOCTYPE html> 
<head>
    <link rel="stylesheet" href="style.css">
    </head>
    <body> 
        <div class="container">
            <label for="email" style="color:white"><b>Enter Sobie Email:  </b></label>
            <input type="email" placeholder="Enter Email" name="email" required>
            <br>
            <label for="topic_keyword" style="color:white"><b>Enter a Topic Keyword:  </b></label>
            <input type="text" placeholder="Enter topic_keyword" name="topic_keyword" required>
            <br>
            <label for="research_question" style="color:white"><b>Enter Research Question:</b></label>
            <input type="text" placeholder="Enter Research Question: " name="research_question" required>
            <br>
            <button type="submit">Submit Entry</button>
          </div>
          <a href="/Profile" style="color:white">Return to Profile</a>
        </body> 
    </html>
