<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="app-login_style.css">
  <meta charset="UTF-8">
  <title> Log-In Page </title>

<body>


  <h1> Sobie Log-In Page </h1>
  <form action="/authenticate" method="post">
    <div class="imgcontainer">
    </div>

    <div class="container">
      <label for="uname" style="color:white"><b>Username: </b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw" style="color:white"><b>Password: </b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <button type="submit">Login</button>
      <label>
        <input type="checkbox" style="color:white" checked="checked" name="remember"> Remember me
      </label>
    </div>
    <br>
    <div class="container" style="background-color:#f1f1f1">
      <a href="/app-login/lost_password">Click Here if Forgotten Password</a>
    </div>
  </form>
</body>
</head>

</html>
