<!DOCTYPE html>
<html lang=en>

<head style="color:white">
  <link rel="stylesheet" href="style.css">
  <title>Reset Password</title>
  Password Reset Page

  <br> 
<body>
  <div class="container">
    <label for="email" style="color:white"><b>Email: </b></label>
    <input type="email" placeholder="Enter Email" name="email" required>
    <br>
    <label for="psw" style="color:white"><b>Enter New Password: </b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
    <br>
    <label for="repeat" style="color:white"><b>Enter Repeat: </b></label>
    <input type="password" placeholder="Enter Password" name="repeat" required>
    <br>
    <button type="submit">Send Reset </button>
    <label>
  </div>

  <a href="/login" style="color:white">Click Here to Return to Log-In</a>
</body>
</head>

</html>