<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="app-login_style.css">
    <meta charset="UTF-8">
    <title> Registration Page </title>
</head>

<body>
    <h1>Welcome <%=user%> to your Registration Page </h1>
    <h2> Registration Status </h2>
    <br>
    <h3> Manage Resgistration </h3>
    <br>
    <h4> View Past Registrations </h4>
    <br>
    <a href="/app-login/Profile">Return to Profile Page</a>

</body>

</html>
