<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="app-login_style.css">
    <meta charset="UTF-8">
    <title> Research Page </title>
</head>

<body>
    <h1> Research Page </h1>
    <h2> Research Submition </h2>
    <button onclick="addResearch()">Add New Research</button>
    <script> 
    function addResearch() { 
        var x = document.createElement("INPUT"); 
        x.setAttribute("type", "text"); 
        x.setAttribute("value", " "); 
        document.body.appendChild(x); 
    }    
    </script>

    <h3> Manage Research </h3>
    <button onclick="DeleteResearch()"> Delete Previous Research</button>
    <h4> Ask for Help </h4>
    <a href="/Help" style="color:white"> Get Some Help</a>
    <h5> View Research of Others </h5>
    <a href="/Profile" style="color:white">Return to Profile Page</a>
</body>

</html>
