body { 
  background-image: url('background.jpg'); 
  background-repeat: no-repeat, repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1, h2, h3, h4, h5 { 
  color: white;
}

head { 
  color:white;
}
